<nav class="navbar navbar-expand-sm navbar-light bg-white px-5 py-4 border-bottom">
    <a class="navbar-brand" href="{% url 'home' %}">watch<span class="text-primary">shop</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Contact</a>
            </li>
            {% if request.user.is_active %}
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'user-register' %}">Sign Up</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'home' %}" target="_blank"><span class="icon-linkedin"></span></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="https://twitter.com/devchux" target="_blank"><span class="icon-twitter"></span></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="https://github.com/devchux" target="_blank"><span class="icon-github"></span></a>
            </li>
        </ul>
    </div>
</nav>